tosa.xsd

<?xml version="1.0"?>
<!--
  This proprietary software may be used only as
  authorised by a licensing agreement from ARM Limited
  (C) COPYRIGHT 2022-2026 ARM Limited
  ALL RIGHTS RESERVED
  The entire notice above must be reproduced on all authorised
  copies and copies may only be made to the extent permitted
  by a licensing agreement from ARM Limited.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- Type definitions -->

<xs:simpleType name="extension_status">
  <xs:restriction base="xs:string">
    <xs:enumeration value="Complete"/>
    <xs:enumeration value="Deprecated"/>
    <xs:enumeration value="Experimental"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="profile_ext_name">
  <xs:restriction base="xs:string">
    <xs:enumeration value="PRO-INT"/>
    <xs:enumeration value="PRO-FP"/>
    <xs:enumeration value="EXT-INT64"/>
    <xs:enumeration value="EXT-INT16"/>
    <xs:enumeration value="EXT-INT4"/>
    <xs:enumeration value="EXT-BF16"/>
    <xs:enumeration value="EXT-FP8E4M3"/>
    <xs:enumeration value="EXT-FP8E5M2"/>
    <xs:enumeration value="EXT-FFT"/>
    <xs:enumeration value="EXT-SHAPE"/>
    <xs:enumeration value="EXT-VARIABLE"/>
    <xs:enumeration value="EXT-CONTROLFLOW"/>
    <xs:enumeration value="EXT-DYNAMIC"/>
    <xs:enumeration value="EXT-DOUBLEROUND"/>
    <xs:enumeration value="EXT-INEXACTROUND"/>
    <xs:enumeration value="EXT-MX-COMMON"/>
    <xs:enumeration value="EXT-MX-FP4E2M1"/>
    <xs:enumeration value="EXT-MX-FP6E2M3"/>
    <xs:enumeration value="EXT-MX-FP6E3M2"/>
    <xs:enumeration value="EXT-MX-FP8E4M3"/>
    <xs:enumeration value="EXT-MX-FP8E5M2"/>
    <xs:enumeration value="EXT-MX-INT8"/>
    <xs:enumeration value="EXT-MXFP-CONV"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="levelname">
  <xs:restriction base="xs:string">
    <xs:enumeration value="none"/>
    <xs:enumeration value="8K"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="levelmax">
  <xs:restriction base="xs:string">
    <xs:enumeration value="MAX_KERNEL"/>
    <xs:enumeration value="MAX_STRIDE"/>
    <xs:enumeration value="MAX_SCALE"/>
    <xs:enumeration value="MAX_RANK"/>
    <xs:enumeration value="MAX_LOG2_SIZE"/>
    <xs:enumeration value="MAX_NESTING"/>
    <xs:enumeration value="MAX_TENSOR_LIST_SIZE"/>
    <xs:enumeration value="MAX_SHAPE_LEN"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="datatype">
  <xs:restriction base="xs:string">
    <xs:enumeration value="-"/>
    <xs:enumeration value="bool_t"/>
    <xs:enumeration value="i4_t"/>
    <xs:enumeration value="i8_t"/>
    <xs:enumeration value="i16_t"/>
    <xs:enumeration value="i32_t"/>
    <xs:enumeration value="i48_t"/>
    <xs:enumeration value="i64_t"/>
    <xs:enumeration value="fp8e4m3_t"/>
    <xs:enumeration value="fp8e5m2_t"/>
    <xs:enumeration value="fp8ue8m0_t"/>
    <xs:enumeration value="fp6e3m2_t"/>
    <xs:enumeration value="fp6e2m3_t"/>
    <xs:enumeration value="fp4e2m1_t"/>
    <xs:enumeration value="fp16_t"/>
    <xs:enumeration value="bf16_t"/>
    <xs:enumeration value="fp32_t"/>
    <xs:enumeration value="mxint8_t"/>
    <xs:enumeration value="tensor_size_t"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="enumtypename">
  <xs:restriction base="xs:string">
    <xs:enumeration value="resize_mode_t"/>
    <xs:enumeration value="acc_type_t"/>
    <xs:enumeration value="nan_propagation_mode_t"/>
    <xs:enumeration value="rounding_mode_t"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="typename">
  <xs:restriction base="xs:string">
    <xs:enumeration value="in_t"/>
    <xs:enumeration value="index_t"/>
    <xs:enumeration value="out_t"/>
    <xs:enumeration value="in_out_t"/>
    <xs:enumeration value="acc_t"/>
    <xs:enumeration value="weight_t"/>
    <xs:enumeration value="resize_t"/>
    <xs:enumeration value="table_t"/>
    <xs:enumeration value="mul_t"/>
    <xs:enumeration value="TABLE_SIZE"/>
    <xs:enumeration value="var_t"/>
    <xs:enumeration value="cond_t"/>
    <xs:enumeration value="shape_t"/>
    <xs:enumeration value="tensor_list_t"/>
    <xs:enumeration value="A_t"/>
    <xs:enumeration value="B_t"/>
    <xs:enumeration value="scale_t"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="argumentcategory">
  <xs:restriction base="xs:string">
    <xs:enumeration value="input"/>
    <xs:enumeration value="output"/>
    <xs:enumeration value="attribute"/>
    <xs:enumeration value="attribute(PRO-INT,PRO-FP)"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="argument-type">
  <xs:restriction base="xs:string">
    <xs:enumeration value="A_t"/>
    <xs:enumeration value="acc_type_t"/>
    <xs:enumeration value="B_t"/>
    <xs:enumeration value="block_size_t"/>
    <xs:enumeration value="bool_t"/>
    <xs:enumeration value="i8_t"/>
    <xs:enumeration value="i32_t"/>
    <xs:enumeration value="in_t"/>
    <xs:enumeration value="in_out_t"/>
    <xs:enumeration value="nan_propagation_mode_t"/>
    <xs:enumeration value="out_t"/>
    <xs:enumeration value="resize_mode_t"/>
    <xs:enumeration value="rounding_mode_t"/>
    <xs:enumeration value="scale_t"/>
    <xs:enumeration value="shape_t"/>
    <xs:enumeration value="shape_list_t"/>
    <xs:enumeration value="String"/>
    <xs:enumeration value="tensor_t"/>
    <xs:enumeration value="tensor_list_t"/>
    <xs:enumeration value="tosa_graph_t"/>
    <xs:enumeration value="var_t"/>
    <xs:enumeration value="weight_t"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="argument-tensor-element-type">
  <xs:union memberTypes="datatype typename enumtypename"/>
</xs:simpleType>

<!-- Element definitions -->

<!-- Defines what profiles this argument is CTC for-->
<xs:element name="ctc">
  <xs:complexType>
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element ref="op_profile"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!-- Defines what profiles this argument CTC is removed for-->
<xs:element name="ctc_remove">
  <xs:complexType>
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element ref="op_profile"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="version">
  <xs:complexType>
    <xs:attribute name="major" type="xs:int" use="required"/>
    <xs:attribute name="minor" type="xs:int" use="required"/>
    <xs:attribute name="patch" type="xs:int" use="required"/>
    <xs:attribute name="draft" type="xs:boolean" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="level">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name"       type="levelname" use="required"/>
        <xs:attribute name="max_rank"   type="xs:int" use="required"/>
        <xs:attribute name="max_kernel" type="xs:int" use="required"/>
        <xs:attribute name="max_stride" type="xs:int" use="required"/>
        <xs:attribute name="max_scale"  type="xs:int" use="required"/>
        <xs:attribute name="max_log2_size" type="xs:int" use="required"/>
        <xs:attribute name="max_nesting" type="xs:int" use="required"/>
        <xs:attribute name="max_tensor_list_size" type="xs:int" use="required"/>
        <xs:attribute name="max_shape_len" type="xs:int" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:element name="levellimit">
  <xs:complexType>
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="limit" type="levelmax"  use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="profile">
  <xs:complexType>
    <xs:attribute name="profile" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="status" type="xs:string" use="required"/>
    <xs:attribute name="description" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="profile_extension">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="profile_supported" type="profile_ext_name" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="status" type="extension_status" use="required"/>
    <xs:attribute name="description" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="profiles">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="profile" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="profile_extensions">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="profile_extension" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="profile_ext_name">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="profile_ext_name" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Profile or extension that an op and data type implements -->
<xs:element name="op_profile">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="profile_ext_name" use="required"/>
        <xs:attribute name="and_name" type="profile_ext_name"/>
        <xs:attribute name="and_name2" type="profile_ext_name"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:element name="levels">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="level" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--- Valid values for the rank choices, either an integer or a string
      starting with MAX_RANK (to allow things like MAX_RANK - 1)
-->
<xs:simpleType name="validRank">
  <xs:union>
    <xs:simpleType>
      <xs:restriction base="xs:integer"/>
    </xs:simpleType>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="MAX_RANK.*"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:union>
</xs:simpleType>

<xs:element name="rank">
  <xs:complexType>
    <xs:attribute name="min" type="validRank" use="required"/>
    <xs:attribute name="max" type="validRank" use="required"/>
  </xs:complexType>
</xs:element>

<!-- TODO pattern for attribute name -->
<!-- TODO enumerations/patterns for attribute type -->
<!-- TODO enumerations/patterns for attribute shape -->

<xs:element name="enumval">
  <xs:complexType>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="value" type="xs:integer"/>
    <xs:attribute name="description" type="xs:string"/>
    <xs:attribute name="extension" type="profile_ext_name"/>
    <xs:attribute name="or_extension" type="profile_ext_name"/>
  </xs:complexType>
</xs:element>

<xs:element name="enum">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="enumval" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="description" type="xs:string" use="required"/>
    <xs:attribute name="extension" type="profile_ext_name"/>
  </xs:complexType>
</xs:element>

<xs:element name="argument">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element ref="levellimit" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="rank" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ctc" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ctc_remove" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="op_profile" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="category" type="argumentcategory" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="argument-type" use="required"/>
    <xs:attribute name="tensor-element-type" type="argument-tensor-element-type" use="required"/>
    <xs:attribute name="shape" type="xs:string" use="required"/>
    <xs:attribute name="optional" type="xs:boolean"/>
  </xs:complexType>
</xs:element>

<xs:element name="arguments">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="argument" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="type">
  <xs:complexType>
    <xs:attribute name="name" type="typename" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="types">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="type" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="typesupport">
  <xs:complexType>
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element ref="op_profile"/>
    </xs:choice>
    <xs:attribute name="mode" type="xs:string" use="required"/>
    <xs:attribute name="version_added" type="xs:string" use="required"/>
    <xs:attribute name="in_t" type="datatype"/>
    <xs:attribute name="index_t" type="datatype"/>
    <xs:attribute name="out_t" type="datatype"/>
    <xs:attribute name="in_out_t" type="datatype"/>
    <xs:attribute name="weight_t" type="datatype"/>
    <xs:attribute name="acc_t" type="datatype"/>
    <xs:attribute name="resize_t" type="datatype"/>
    <xs:attribute name="table_t" type="datatype"/>
    <xs:attribute name="cond_t" type="datatype"/>
    <xs:attribute name="TABLE_SIZE" type="xs:int"/>
    <xs:attribute name="var_t" type="datatype"/>
    <xs:attribute name="A_t" type="datatype"/>
    <xs:attribute name="B_t" type="datatype"/>
    <xs:attribute name="scale_t" type="datatype"/>
    <xs:attribute name="shape_t" type="datatype"/>
  </xs:complexType>
</xs:element>

<xs:element name="operator">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name"/> <!-- TODO pattern -->
      <xs:element ref="arguments"/>
      <xs:element ref="types" minOccurs="0" />
      <xs:element ref="typesupport" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="operatorgroup">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="operator" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="operators">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="operatorgroup" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="tosa">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="version" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="profiles"/>
      <xs:element ref="profile_extensions"/>
      <xs:element ref="levels"/>
      <xs:element ref="operators"/>
      <xs:element ref="enum" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
